.u-block-ce5d-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-ce5d-3 {
  position: absolute;
  left: 0;
}

.u-block-ce5d-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/418594451_1134416481322647_1576424537825502921_n.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-1 .u-text-1 {
  width: 238px;
  margin: 527px auto 0;
}

.u-section-1-1 .u-text-2 {
  line-height: 1.07;
  font-weight: 900;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 94px;
    margin-right: 94px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 239px;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/387774865_254905204211996_5319224179713413194_n.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-2 .u-text-1 {
  width: 238px;
  margin: 527px auto 0;
}

.u-section-1-2 .u-text-2 {
  line-height: 1.07;
  font-weight: 900;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 94px;
    margin-right: 94px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 239px;
  }
}

 .u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/387774865_254905204211996_5319224179713413194_n.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-3 .u-text-1 {
  width: 238px;
  margin: 527px auto 0;
}

.u-section-1-3 .u-text-2 {
  line-height: 1.07;
  font-weight: 900;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-3 .u-text-2 {
    margin-left: 94px;
    margin-right: 94px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 239px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 786px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto auto;
  height: auto;
  margin: 50px auto 60px 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 434px;
  grid-gap: 0px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-2 .u-image-1 {
  height: 281px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-group-1 {
  width: 245px;
  min-height: 94px;
  height: auto;
  margin: -33px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-text-2 {
  margin: 6px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 7px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 600;
  height: 33px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px 30px;
}

.u-section-2 .u-image-2 {
  height: 281px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-group-2 {
  width: 245px;
  min-height: 94px;
  height: auto;
  margin: -33px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-text-4 {
  margin: 6px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 7px 0 0;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 600;
  height: 33px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 30px 30px;
}

.u-section-2 .u-image-3 {
  height: 281px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-group-3 {
  width: 245px;
  min-height: 94px;
  height: auto;
  margin: -33px auto 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px;
}

.u-section-2 .u-text-6 {
  margin: 6px auto 0;
}

.u-section-2 .u-text-7 {
  margin: 7px 0 0;
}

.u-section-2 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 600;
  height: 33px;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 358px;
  }

  .u-section-2 .u-image-1 {
    height: 223px;
  }

  .u-section-2 .u-group-1 {
    width: 212px;
    margin-top: -38px;
    height: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 223px;
  }

  .u-section-2 .u-group-2 {
    width: 212px;
    margin-top: -38px;
    height: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 10px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 223px;
  }

  .u-section-2 .u-group-3 {
    width: 212px;
    margin-top: -38px;
    height: auto;
  }

  .u-section-2 .u-text-7 {
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 823px;
  }

  .u-section-2 .u-image-1 {
    height: 264px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -79px;
  }

  .u-section-2 .u-image-2 {
    height: 264px;
  }

  .u-section-2 .u-group-2 {
    margin-top: -79px;
  }

  .u-section-2 .u-image-3 {
    height: 264px;
  }

  .u-section-2 .u-group-3 {
    margin-top: -79px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 294px;
  }

  .u-section-2 .u-group-1 {
    width: 289px;
    margin-top: -35px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 15px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 294px;
  }

  .u-section-2 .u-group-2 {
    width: 289px;
    margin-top: -35px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 15px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 294px;
  }

  .u-section-2 .u-group-3 {
    width: 289px;
    margin-top: -35px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 15px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    height: 181px;
  }

  .u-section-2 .u-group-1 {
    width: 255px;
    min-height: 100px;
    margin-top: -32px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 181px;
  }

  .u-section-2 .u-group-2 {
    width: 255px;
    min-height: 100px;
    margin-top: -32px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 181px;
  }

  .u-section-2 .u-group-3 {
    width: 255px;
    min-height: 100px;
    margin-top: -32px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 10px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1123px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 49px auto 0;
}

.u-section-3 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 36px 0 60px;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/beautiful-tropical-beach-sea_74190-6787.jpg");
  background-position: 50% 50%;
  min-height: 278px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  background-image: url("images/travel-trekking-summer-landscape-mountains-green-grass-trees-blue-sky_146671-18447.jpg");
  background-position: 50% 50%;
  min-height: 278px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  background-image: url("images/6547.jpg");
  background-position: 50% 50%;
  min-height: 278px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  background-image: url("images/g.jpg");
  background-position: 50% 50%;
  min-height: 278px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  min-height: 556px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/l.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-icon-1 {
  height: 52px;
  width: 52px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/sea-beach_1203-3515.jpg");
  background-position: 50% 50%;
  min-height: 278px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 35px 30px 30px;
}

.u-section-3 .u-image-7 {
  background-image: url("images/beautiful-countryside-road-greenery-forests_181624-5399.jpg");
  background-position: 50% 50%;
  min-height: 278px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 976px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 229px;
  }

  .u-section-3 .u-image-2 {
    min-height: 229px;
  }

  .u-section-3 .u-image-3 {
    min-height: 229px;
  }

  .u-section-3 .u-image-4 {
    min-height: 229px;
  }

  .u-section-3 .u-image-5 {
    min-height: 458px;
  }

  .u-section-3 .u-image-6 {
    min-height: 229px;
  }

  .u-section-3 .u-image-7 {
    min-height: 229px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2042px;
  }

  .u-section-3 .u-image-1 {
    min-height: 263px;
  }

  .u-section-3 .u-image-2 {
    min-height: 263px;
  }

  .u-section-3 .u-image-3 {
    min-height: 263px;
  }

  .u-section-3 .u-image-4 {
    min-height: 263px;
  }

  .u-section-3 .u-image-5 {
    min-height: 1052px;
  }

  .u-section-3 .u-image-6 {
    min-height: 175px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-right: 30px;
  }

  .u-section-3 .u-image-7 {
    min-height: 175px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3249px;
  }

  .u-section-3 .u-image-1 {
    min-height: 395px;
  }

  .u-section-3 .u-image-2 {
    min-height: 395px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 395px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    min-height: 395px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-5 {
    min-height: 789px;
  }

  .u-section-3 .u-image-6 {
    min-height: 197px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-image-7 {
    min-height: 394px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2154px;
  }

  .u-section-3 .u-image-1 {
    min-height: 249px;
  }

  .u-section-3 .u-image-2 {
    min-height: 249px;
  }

  .u-section-3 .u-image-3 {
    min-height: 249px;
  }

  .u-section-3 .u-image-4 {
    min-height: 249px;
  }

  .u-section-3 .u-image-5 {
    min-height: 497px;
  }

  .u-section-3 .u-image-6 {
    min-height: 124px;
  }

  .u-section-3 .u-image-7 {
    min-height: 248px;
  }
} .u-section-4 {
  background-image: url("images/dfgrey-min.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 833px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 557px;
  margin: 60px auto 60px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 246px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 28px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 8px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 192px;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-icon-1 {
  height: 55px;
  width: 55px;
  margin: 0 auto;
  padding: 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  letter-spacing: 4px;
  font-weight: 700;
  font-family: Ubuntu, sans-serif;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 192px;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-icon-2 {
  height: 55px;
  width: 55px;
  margin: 0 auto;
  padding: 0;
}

.u-section-4 .u-text-5 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Ubuntu, sans-serif;
  margin: 20px auto 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 192px;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px 10px 30px;
}

.u-section-4 .u-icon-3 {
  height: 79px;
  width: 79px;
  margin: 0 auto;
  padding: 12px;
}

.u-section-4 .u-text-7 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Ubuntu, sans-serif;
  margin: 20px auto 0;
}

.u-section-4 .u-text-8 {
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 192px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-5 {
  padding: 10px 10px 30px;
}

.u-section-4 .u-text-9 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Ubuntu, sans-serif;
  margin: 0 auto;
}

.u-section-4 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 23px auto 0;
}

.u-section-4 .u-icon-4 {
  height: 100%;
}

.u-section-4 .u-icon-5 {
  height: 100%;
}

.u-section-4 .u-icon-6 {
  height: 100%;
}

.u-section-4 .u-text-10 {
  margin: 23px 16px 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 508px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 445px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 218px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 160px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 160px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 180px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    background-position: 83.75% 100%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 1004px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 302px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1434px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 474px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 234px;
  }
}